FN_SECRET=<paste-shared-m2m-secret-here-NEVER-commit-the-real-one>
FN_AUTH_URL=https://auth.sandbox.fivenorth.io/application/o/token/
FN_LEDGER_URL=https://ledger-api.validator.devnet.sandbox.fivenorth.io
FN_NAMESPACE=1220a14ca128063b8dc9d1ebb0bd22633be9f2168500f4dbc1ecaeb1855b14e5acf8
